@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
  --bg-main:#131722;
  --light-bg:#24baef;
  --main-color:#fff;
}
body{
  font-family: 'Montserrat', sans-serif !important;
  background-color:#131722 ;
  color: var(--main-color);
}